@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.watermelon {
  background-color: #e97065;
}

.watermelon h2 {
  font-family: "Rammetto One", sans-serif;
}

.starfruit {
  background-color: #fbd25e;
}

.starfruit h2 {
  font-family: "Gravitas One", sans-serif;
}

.persimmon {
  background-color: #e86033;
}

.persimmon h2 {
  font-family: Comfortaa, sans-serif;
}
